/* Reset everything for more control */
* {
  margin:0px;
  padding:0px;
  text-decoration:none;
}

body {
    line-height: 1.3em;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size:12px;
    background: #081D24 url(/static/images/paperback.jpg) center top repeat;
}

#wrapper {
	margin:0px auto;
	width:950px;
	min-width:900px;
}

#top-menu {
	color:#ffffff;
	font-size:0.9em;
	text-align:right;
	margin-top:4px;
}

#top-menu a { color:#ffff99; border-bottom: #ddd dotted 1px; }

#header h1{
	color:#ffffff;
	font-family:TitilliumText800wt;
	padding:10px 10px 5px 10px;
	font-size:3.2em;
}
#slogan {color:#efefef; padding-left:120px; }
#slogan p { display:inline-block; margin:5px; }

#main-menu  { text-align:right; padding:10px 20px 4px 4px; }
#main-menu ul li { list-style:none; display:inline-block;}
#main-menu ul li a { 
	text-decoration:none; 
	color:#222; 
	font-weight:bold;
	background:#ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ccc));
	border-radius:5px 5px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	padding:5px 30px;
}

#main-menu ul li a:hover { 
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
}
