/* Reset everything for more control */
* {
  margin:0px;
  padding:0px;
  text-decoration:none;
}

body {
    line-height: 1.3em;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size:12px;
    background: #191919 url(http://127.0.0.1/static/images/sky_back.jpg) top center repeat-x;
}

#wrapper {
	margin:0px auto;
	width:780px;
	min-width:900px;
}

#top-menu {
	color:#ffffff;
	font-size:0.9em;
	text-align:right;
	margin-top:4px;
}

#top-menu a, #slogan p a { color:#ffffff; border-bottom: #2c5e96 dotted 1px;}
#top-menu a:hover, #slogan p a:hover { color:#103966;}

#header h1{
	color:#3F4648;
	font-family:Cantarell-Regular;
	padding:10px 10px 5px 10px;
	font-size:3.2em;
	font-weight:normal;
}
#slogan { padding-left:160px; }
#slogan p { display:inline-block; margin:5px; }

#main-menu  { text-align:right; padding:10px 20px 4px 4px; }
#main-menu ul li { list-style:none; display:inline-block; }
#main-menu ul li a { 
	text-decoration:none; 
	color:#EAF3F9; 
	font-weight:bold;
	background:#01325D;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:5px 30px 5px 30px;
}

#main-menu ul li a:hover { 
	background:#1356AC;
}


#content {
	background:#ffffff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin: 10px 20px 20px 20px;
	padding:10px;
	overflow: auto;
}
#contents { width: 590px; }
#contents h2 {
	color:#EAF3F9;
	background:#01325D;
	padding:10px 20px 10px 20px;
	margin:4px 0px 0px -10px;
	border-radius:0px 5px 5px 0px;
	-moz-border-radius:0px 5px 5px 0px;
	-webkit-border-radius:0px 5px 5px 0px;
	display:inline-block;
}
#contents p {
	padding:7px 7px 7px 20px;
	margin-bottom:20px;
	color:#333;
	font-size:1.1em;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef), color-stop(0.7, #fff));
	border-bottom:1px solid #ddd;
}

#sidebar {
	float:right;
	width:240px;
	text-align:center;
}
#sidebar h3 {  padding:3px; margin-bottom:3px;}
#sidebar p { padding:5px; margin:3px;}


#footer {
    border-top: 1px dashed gray;
    font-size: 0.8em;
    text-align: center;
    padding: 0px 10px;
    color:#efefef;
}
#footer a {
    text-decoration: none;
    color:#efefef;
}
#footer a:hover {
    text-decoration: underline;
}

textarea {
    width: 100%;
}
